# VerificationStatus

## Example Usage

```typescript
import { VerificationStatus } from "dwolla/models";

let value: VerificationStatus = "verified";
```

## Values

```typescript
"verified" | "document" | "incomplete"
```