/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { DwollaCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { DwollaError } from "../models/errors/dwollaerror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Initiate or Verify micro-deposits
 *
 * @remarks
 * This endpoint handles two different actions:
 * 1. Initiating micro-deposits: No request body is required
 * 2. Verifying micro-deposits: Request body with micro-deposit amounts is required
 *
 * The action is determined by the presence of a request body:
 * - If no request body is provided, the endpoint will initiate micro-deposits
 * - If a request body with micro-deposit amounts is provided, the endpoint will verify the micro-deposits
 */
export function fundingSourcesInitiateOrVerifyMicroDeposits(
  client: DwollaCore,
  request: operations.InitiateOrVerifyMicroDepositsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.InitiateOrVerifyMicroDepositsResponse | undefined,
    | errors.InitiateOrVerifyMicroDepositsDwollaV1HalJSONError
    | DwollaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: DwollaCore,
  request: operations.InitiateOrVerifyMicroDepositsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.InitiateOrVerifyMicroDepositsResponse | undefined,
      | errors.InitiateOrVerifyMicroDepositsDwollaV1HalJSONError
      | DwollaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.InitiateOrVerifyMicroDepositsRequest$outboundSchema.parse(
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.RequestBody, { explode: true });

  const pathParams = {
    id: encodeSimple("id", payload.id, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/funding-sources/{id}/micro-deposits")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/vnd.dwolla.v1.hal+json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "initiateOrVerifyMicroDeposits",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["404", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.InitiateOrVerifyMicroDepositsResponse | undefined,
    | errors.InitiateOrVerifyMicroDepositsDwollaV1HalJSONError
    | DwollaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.nil(
      201,
      operations.InitiateOrVerifyMicroDepositsResponse$inboundSchema.optional(),
      { hdrs: true },
    ),
    M.jsonErr(
      404,
      errors.InitiateOrVerifyMicroDepositsDwollaV1HalJSONError$inboundSchema,
      { ctype: "application/vnd.dwolla.v1.hal+json" },
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
